@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Setup des machines</h1>
    <p class="lead">Ce script permet de personaliser les machines VS2015 de Azure</p>
    <p><a href="~/setup.exe" class="btn btn-primary btn-lg">Téléchargez</a></p>
</div>

<div class="row">
    <div class="col-md-4">
     
    </div>
    <div class="col-md-4">
     
    </div>
    <div class="col-md-4">
   
    </div>
</div>